div{
    display: flex;
}
.box1 {
    border-style: solid;
    border-color: black;
    background-color: #188753;
    height: 300px;
    width : 50%;
}
.box2 {
    border-style: solid;
    border-color: black;
    background-color: #CEB6F3;
    height: 300px;
    width: 50%;
}
p {
    padding: 110px 0;
    color: white;
    font-size: 20px;
}